apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: v1.13.2
apiServer:
  certSANs:
  {% for host in groups['alls'] %}
  - "{{ host }}"
  {% endfor %}
  - tes.tsi.ebi.ac.uk
controlPlaneEndpoint: "{{ load_balancer_dns }}:{{ glusterfs_load_balancer_port }}"
networking:
  podSubnet: 172.15.0.0/16